.grid{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    gap: 5px;
    height: 90vh;
}
header, footer{
    grid-column: 1 / 4;
}
header, aside, article, footer{
    border-style: solid;
    background-color: silver;
    font-size: 2em;
}

#introContainer {
    display: flex;
    flex-direction: row; /* side by side */
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
}

#introContainer .introText {
    flex-grow: 1;
    margin-right: 10px;
}

#introContainer img {
    flex-shrink: 0; /* Prevent the image from shrinking */
    margin-left: 10px;
}

@media (max-width: 768px) {
    #introContainer {
        flex-direction: column; /* stacked */
    }

    #introContainer img {
        margin-bottom: 20px; /* only add margin at smaller sizes */
    }
}

body {
    background-color: #f8f9fa; /* Light grey background */
    color: #333; /* Dark text for contrast */
    font-family: 'Arial', sans-serif; /* Readable font */
}

/* Optionally, you can add a subtle gradient */
body {
    background: linear-gradient(to right, #f8f9fa, #e2e2e2);
 
    
}

/* Ensure that text and other elements have sufficient contrast */
h1, .navbar, .nav-link {
    color: #212529; /* Darker shade for better readability */
}

/* Responsive images */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Add some padding and margin to make content more readable */
.container {
    padding: 20px;
}
