.grid{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    gap: 5px;
    height: 90vh;
}
header, footer{
    grid-column: 1 / 4;
}
header, aside, article, footer{
    border-style: solid;
    background-color: silver;
    font-size: 2em;
}

#introContainer {
    display: flex;
    flex-direction: row; /* side by side */
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
}

@media (max-width: 768px) {
    #introContainer {
        flex-direction: column; /* stacked */
    }

    #introContainer img {
        margin-bottom: 20px; /* only add margin at smaller sizes */
    }
}